body{
    margin:0;
    color:#232323;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position: top;
    background-color: #f7fcf8;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
    margin:0; padding:0;
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

li a {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    width: 130px;
    text-decoration: none;
    color: aqua;
    background-color: blue;
    padding: 10px 15px;
    margin: 0px 1px 1px 0px;
    border: 1px solid navy;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px gray;
    -moz-box-shadow: 0px 2px 3px gray;
    -webkit-box-shadow: 0px 2px 3px gray;
}

li a:hover {
    color: blue;
    background: aqua;
    border: 1px solid blue;
}